@use "global" as *;

.information {
    padding: rem(85) 0 rem(84);
    background-color: $light-green;
    @include mq(md){
        padding: rem(100) 0 rem(76);
    }
}

.information__inner {
    max-width: rem(600);
    margin: auto;
    @include mq(md){
        max-width: 100%;
    }
}

.information__wrapper {
    margin-top: rem(27);
    @include mq(md){
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 rem(20);
        margin-top: rem(40);
    }
}

.information__image-wrapper {
    width: 100%;
    @include mq(md){
        max-width: rem(540);
    }
}

.information__image {
    width: 100%;
}

.information__image img {
    object-fit: cover;
    aspect-ratio: 345/227;
    @include mq(md){
        aspect-ratio: 540/356;
    }
}

.information__content {
    margin-top: rem(22);
    @include mq(md){
        width: 100%;
        max-width: rem(492);
        margin-top: rem(-10);
    }
}

.information__subtitle {
    font-size: rem(20);
    padding-bottom: 0;
    border-bottom: rem(1) solid $green;
    @include mq(md){
        font-size: rem(24);
        padding-bottom: rem(2);
    }
}

.information__text {
    margin-top: rem(8);
}

.information__btn {
    text-align: center;
    margin-top: rem(40);
}

.information__btn .btn {
    max-width: rem(202);
    padding: rem(15.5) rem(5);
}