@use "global" as *;

.mv {
    position: relative;
    height: 100vh;
    min-height: rem(400);
    z-index: 1;
}

.mv__inner {
    position: relative;
    height: inherit;
}

.mv__content {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    color: $white;
}

.mv__title {
    font-size: rem(40);
    letter-spacing: 0.54em;
    font-weight: $normal;
    font-family: $fourth-font-family;
    line-height: 1.25;
    text-indent: 0.54em;
    @include mq("md") {
        font-size: rem(80);
    }
}

.mv__subtitle {
    font-size: rem(20);
    font-family: $second-font-family;
}

.mv__swiper,
.mv__swiper .swiper-img,
.mv__swiper .swiper-img img {
    height: inherit;
    min-height: inherit;
}

.mv__swiper .swiper-img img {
    width: 100%;
    object-fit: cover;
}