@use "global" as *;

.voice-card {
    display: block;
    box-shadow: rem(2) rem(2) rem(10) rgba($color: #000, $alpha: .25);
    transition: .3s;
    padding: rem(15) rem(16) rem(24);
    @include mq("md") {
        height: 100%;
        padding: rem(24) rem(24) rem(24);
    }
}

.voice-card:hover {
    @include mq("md") {
        background-color: #DDF0F1;
    }
}

.voice-card__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0 rem(13);
    @include mq("md") {
        gap: 0 rem(16);
    }
}

.voice-card__content {
    width: calc(100% - rem(151));
    border-bottom: rem(1) solid $green;
    padding-bottom: rem(3);
    @include mq("md") {
        width: calc(100% - rem(180));
        padding-bottom: rem(4);
    }
}

.voice-card__unit {
    @include mq("md") {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 0 rem(20);
    }
}

.voice-card__age {
    font-size: rem(12);
}

.voice-card__cat {
    display: inline-block;
    font-size: rem(12);
    color: $green;
    border: rem(1) solid $green;
    padding: rem(5) rem(11);
    @include mq("md") {
        padding: rem(7) rem(15);
    }
}

.voice-card__title {
    font-size: rem(16);
    line-height: 1.45;
    font-weight: $medium;
    margin-top: rem(4);
    @include mq("md") {
        font-size: rem(24);
        margin-top: rem(8);
    }
}

.voice-card__avatar {
    width: 100%;
    max-width: rem(151);
    @include mq("md") {
        max-width: rem(180);
    }
}

.voice-card__avatar img {
    object-fit: cover;
    aspect-ratio: 151/117;
    @include mq("md") {
        aspect-ratio: 180/140;
    }
}

.voice-card__text {
    margin-top: rem(15);
    @include mq("md") {
        margin-top: rem(40);
    }
}